<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Forespørsel fra <%= @params.name %>.</h1>
<p><%= @params.message %></p>

<img src="<%= @params.img.url %>" width="150">
</body>
</html>