<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Gratulerer,
      <%= @params.first_name %>!
</h1>
<p>Du har vunnet i dagens bedrifstlotteri.</p>
<p>Fullstendig oversikt over dine premier finner du på Min Side. Ta kontakt med administrator i din bedrift
dersom du savner premien din :)</p>
</body>
</html>