<% provide(:title, "Hjelp") %>

<div class="container">
  <div class="page-header">
    <div class="clearfix">
      <div class="col-md-12">
        <h1 class="h1 text-center">
          Ofte stilte spørsmål
        </h1>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="container">
      <br>
      <br>
      <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        Denne siden inneholder noen av de oftest stilte spørsmålene relatert til <strong>Bedriftlotteri</strong>.
        Dersom du ikke finner svaret ditt her må du gjerne sende oss et spørsmål via kontaktskjemaet.
      </div>
      <br>

      <div class="panel-group" id="accordion">
        <div class="questionHeader">Generelle spørsmål</div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                 href="#collapseOne" aria-expanded="true">
                Hva er bedriftslotteri?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              Bedriftslotteri er en nettbasert tjeneste som gjør det enkelt for alle typer bedrifter å organisere ulike
              typer lotterier, f.eks. vinlotteri, kunstlotteri, gavelotteri osv.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">Hvordan
                fungerer det?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Bedrifter kjøper tilgang til tjenesten. Deretter blir en person tilknyttet bedriften utpekt som
              administrator. Administratoren legger deretter ut lotteriene, ved å bestemme hvor mange lodd som skal være
              tilgjengelig, hva hvert lodd skal koste, når trekningen skal skje osv.
              <br>
              De ansatte registrerer seg selv som bruker, og får deretter tilgang til å delta i lotteriene som
              administratoren har gjort tilgjengelig. De ansatte kjøper og betaler selv for de loddene de ønsker.

            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">Trenger
                man en spesiell nettleser?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Tjenesten støttes av alle moderne nettlesere, på både PC, mobil og nettbrett.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">Hvordan
                kjøper vi tilgang til tjenesten?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Fyll ut kontaktskjemaet, så hører dere fra oss!
            </div>
          </div>
        </div>
        <div class="questionHeader">Spørsmål for bedriften</div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">Hva
                koster det for min bedrift?

              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Bedriften din betaler en årlig pris for å få tilgang til tjenesten. Brukerne betaler deretter kun for sine
              egne lodd.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false">
                Hvordan får vi utbetalt pengene de ansatte har kjøpt lodd for?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              En gang i uken får dere utbetalt pengene det har blitt kjøpt lodd for, til et kontonummer dere selv
              velger.
              Dere får utbetalt nøyaktig det beløpet det er kjøpt lodd for, helt uavkortet.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false">
                Er det noen bindingstid?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Det er ingen bindingstid. Avtalen fornyes årlig med mindre dere gir beskjed om noe annet før en ny periode
              starter.
            </div>
          </div>
        </div>
        <div class="questionHeader">Spørsmål for brukerne
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false">
                Hvordan registrerer jeg meg?
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Når bedriften har kjøpt tilgang til tjenesten, registrerer du deg selv som bruker av tjenesten ved å
              fylle ut et enkelt registreringsskjema.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false">
                Hvor finner jeg firmanøkkelen jeg trenger for å registrere meg?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Firmanøkkelen får du fra den som administrerer lotteriene i din bedrift.
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false">
                Hvordan betaler jeg for loddene jeg kjøper?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Du betaler enkelt og trygt med alle typer kort.
            </div>
          </div>
        </div>
        <div class="questionHeader">Spørsmål for administratorer</div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false">
                Hvordan finner jeg igjen firmanøkkelen?
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              Dersom du har mistet firmanøkkelen, er det bare å ta kontakt med oss så genererer vi en ny for dere.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>