// Place all the styles related to the contactform controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#kontaktform{
  margin: 10px;
}