<footer class="footer">
  <div class="container">
    <div class="row footerRow">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <h4 class="text-center h4">Bedriftslotteri AS</h4>

        <p class="text-center customContactInfoParagraph">
          <small>Org. nr. 913 012 488</small>
        </p>
        <p class="text-center customContactInfoParagraph">
          <small>Schweigaards Gate 14, 0323 Oslo</small>
        </p>
        <br>

        <p class="text-center customContactInfoParagraph">
          <a id ="bedriftsmail" href="mailto:post@bedriftslotteri.no"><small>Epost: post@bedriftslotteri.no</small></a>
        </p>
        <p class="text-center customContactInfoParagraph">
          <small>Tlf.: 936 22 970</small>
        </p>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</footer>